# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcuserstate
*.moved-aside
*.xcworkspace

# SwiftPM
.build/
Packages/
.swiftpm/
.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

# Cocoapods
Pods/
Podfile.lock

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Firebase
GoogleService-Info.plist

# Archives
*.xcarchive
*.ipa
*.dSYM.zip
*.dSYM

# Temporary files
*.tmp
*.swp
*.bak
*.orig